.contacto {
    padding: 3% 5%;
    display: flex;
    justify-content: space-around;
    background-color: var(--background-vino);
    
}

.contacto-elementos {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.logo1 {
    display: flex;
}

.menu{
    width: 100%;
}

.menu_elementos ul {
    width: 100%;
    padding: 0;
}

.menu_elementos {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    padding-left: 20%;

}


.menu_titulo a {
    text-decoration: none;
    color: var(--background-blanco);
    font-family: var(--font-gothic-text);
    font-size: 20px;
    text-align: left;
    height: 60px;

}

.menu_titulo {
    height: 80px;
}


.contacto_form {
    display: block;
    width: 100%;
}

.form_titulo {
    color: var(--background-blanco);
    font-family: var(--font-gothic-tittle);
}


.campo {
    display: block;
    align-items: center;
    width: 90%;
    background-color: var(--background-blanco);
    border-radius: 10px;
    padding: 15px;
    font-family: var(--font-gothic-text);
    margin-bottom: 10px;
}

.campo input { 
    width: 90%;
    height: 8px;
    background-color:transparent;
    border: none;
    font-family: var(--font-gothic-text);
    margin-bottom: 5px;
}


input, textarea:focus{
    box-shadow: none;
    border: none;
    outline: 0;
}

.campo textarea { 
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color:transparent;
    resize: none;
    font-family: var(--font-gothic-text);
}

.contacto_form button {
    margin: 0;
    width: 100px;
    margin-top: 10px;
}

.logo {
    width: 25%;
}

.logo1_img {
    width: 30px;
    height: 33px;
}

.logo1_p1 {
    font-family: var(--font-gothic-tittle);
    color: var(--background-blanco);
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

.logo1_p2 {
    font-family: var(--font-gothic-tittle);
    color: var(--background-vino-claro);
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
}


@media screen and (max-width: 1024px) {
    .contacto {
        padding: 3%;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .contacto-elementos {
        width: 20%;
        display: flex;
        flex-direction: column;
        padding-right: 5%;
    }

    .contacto_form {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    .form_titulo {
        width: 77%;
    }

    .form_elementos {
        width: 95%;

    }

    .menu_elementos {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 20px;
    }

}


@media screen and (max-width: 770px) {
    .contacto {
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .contacto-elementos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-bottom: 20px;
        padding: 0;
    }

    .logo1 {
        display: flex;
    }

    .menu_elementos {
        padding: 0;
        justify-content: center;
        flex-direction: column;
        align-items: center;   
    }

    .contacto_form {
        width: 68%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contacto_form {
        margin-bottom: 2%;
    }

    .form_titulo {
        width: 95%;
        text-align: center;
    }

}