footer {
    font-weight: bold;
    font-size: 12px;
    margin: 2%;
}
.foot {
    text-align: center;
    margin-top: 5px;
    color: var(--background-blanco);
    font-family: var(--font-gothic-text);
}