.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-gris);
    padding-top: 5%;
    padding-bottom: 5%;
}

.login_titulo {
    color: var(--background-blanco);
    font-family: var(--font-gothic-tittle);
    text-align: center;
}

.login_elementos {
    display: block;
}

.login_campo {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: var(--background-blanco);
    border-radius: 15px;
    padding: 10px;
    font-family: var(--font-gothic-text);
    margin-bottom: 10px;
}

.login_campo:hover { 
    border-bottom: 3px solid var(--background-vino);
}

.login_campo input { 
    width: 90%;
    height: 20px;
    background-color:transparent;
    border: none;
    font-family: var(--font-gothic-text);
    margin-bottom: 5px;
}


input:focus{
    box-shadow: none;
    border: none;
    outline: 0;
}


.btn-ingresar {
    background-color: var(--background-negro);
    border: 1.2px solid var(--background-blanco);
    color: var(--background-blanco);
    font-family: var(--font-gothic-text);
    border-radius: 10px;
    cursor: pointer;
    width: 20%;
    margin: 3px 0;

}

.btn-ingresar:hover {
    transition: 0.5s;
    border: none;
    color: var(--background-negro);
    background-color: var(--background-blanco);
    font-weight: bold;
}