<!DOCTYPE html>
<html lang="spa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/resert.css">
    <link rel="stylesheet" href="../css/colores.css">
    <link rel="stylesheet" href="../css/cabecera.css">
    <link rel="stylesheet" href="../css/crear_producto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300;400;600&family=UnifrakturCook:wght@700&display=swap"
        rel="stylesheet">
    <title>Crear Productos</title>
    <link rel="shortcut icon" href="../img/logo-admin.png" type="image/x-icon">
</head>

<body>
    <section class="crear_producto" id="crear_productos_1">
        <div class="crear_producto_form">
            <h2 class="form_titulo_agr">Agregar nuevo producto</h2>
            <form class="form_elementos_agr">
                <div class="agr_campo">
                    <label for="text">URL de imagen:</label>
                    <input type="url" required>
                </div>
                <div class="agr_campo">
                    <label for="text">Categoría:</label>
                    <input type="text" required>
                </div>
                <div class="agr_campo">
                    <label for="text">Nombre del producto:</label>
                    <input type="text" required>
                </div>
                <div class="agr_campo">
                    <label for="text">Precio del producto:</label>
                    <input type="number" required>
                </div>
                <div class="agr_campo">
                    <label for="text">Descripción del producto:</label>
                    <textarea type="text"></textarea>
                </div>

            </form>
            <button class="btn-login">Guardar</button>
        </div>
    </section>
</body>