<!DOCTYPE html>
<html lang="spa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/resert.css">
    <link rel="stylesheet" href="../css/colores.css">
    <link rel="stylesheet" href="../css/cabecera.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300;400;600&family=UnifrakturCook:wght@700&display=swap"
        rel="stylesheet">
    <title>Buscador Librería</title>
    <link rel="shortcut icon" href="../img/logo-book.png" type="image/x-icon">

</head>

<body>
    <header class="cabecera" id="cabecera_1">
        <div class="cabecera_elementos">
            <div class="logo">
                <a class="logo" href="../index.html">
                    <img class="logo_img" src="../img/logo-book.png" alt="icono-logo">
                    <p class="logo_p1">Alura</p>
                    <p class="logo_p2">Librería</p>
                </a>

            </div>
            <div class="cabecera_usuario">
                <div class="cabecera_buscador">
                    <nav class="buscador">
                        <input type="text" placeholder="¿Qué deseas buscar?">
                    </nav>
                    <img src="../img/logo-busqueda.png" alt="buscar">
                </div>
                <div class="cabecera_login">
                    <a  class="btn-login" href="../user_login.html">Login</a>
                </div>
            </div>
        </div>
    </header>
</body>

</html>