<!DOCTYPE html>
<html lang="spa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/resert.css">
    <link rel="stylesheet" href="../css/colores.css">
    <link rel="stylesheet" href="../css/secciones_libros.css">
    <link rel="stylesheet" href="../css/todos_productos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300;400;600&family=UnifrakturCook:wght@700&display=swap"
        rel="stylesheet">
    <title>Total productos</title>
    <link rel="shortcut icon" href="../img/logo-admin.png" type="image/x-icon">

</head>

<body>
    <section class="todos_productos" id="todos_productos_1">
        <div class="secciones_ver">
            <h2 class="titulo_seccion">Todos los productos</h2>
            <button class="btn_agregar">Agregar producto<img src="../img/logo-agregar.png" alt="agregar">
            </button>
        </div>
        <ul class="libros_total">
            <il class="libro">
                <img class="libro_img" src="../img/logo.png" alt="libro">
                <h3 class="libro_titulo">Producto XYZ</h3>
                <p class="libro_precio">$40.000</p>
                <a class="libro_detalle" href="#">Ver producto</a>
            </il>
            <il class="libro">
                <img class="libro_img" src="../img/logo.png" alt="libro">
                <h3 class="libro_titulo">Producto XYZ</h3>
                <p class="libro_precio">$40.000</p>
                <a class="libro_detalle" href="#">Ver producto</a>
            </il>
            <il class="libro">
                <img class="libro_img" src="../img/logo.png" alt="libro">
                <h3 class="libro_titulo">Producto XYZ</h3>
                <p class="libro_precio">$40.000</p>
                <a class="libro_detalle" href="#">Ver producto</a>
            </il>
            <il class="libro">
                <img class="libro_img" src="../img/logo.png" alt="libro">
                <h3 class="libro_titulo">Producto XYZ</h3>
                <p class="libro_precio">$40.000</p>
                <a class="libro_detalle" href="#">Ver producto</a>
            </il>
            <il class="libro">
                <img class="libro_img" src="../img/logo.png" alt="libro">
                <h3 class="libro_titulo">Producto XYZ</h3>
                <p class="libro_precio">$40.000</p>
                <a class="libro_detalle" href="#">Ver producto</a>
            </il>
            <il class="libro">
                <img class="libro_img" src="../img/logo.png" alt="libro">
                <h3 class="libro_titulo">Producto XYZ</h3>
                <p class="libro_precio">$40.000</p>
                <a class="libro_detalle" href="#">Ver producto</a>
            </il>
            <il class="libro">
                <img class="libro_img" src="../img/logo.png" alt="libro">
                <h3 class="libro_titulo">Producto XYZ</h3>
                <p class="libro_precio">$40.000</p>
                <a class="libro_detalle" href="#">Ver producto</a>
            </il>
            <il class="libro">
                <img class="libro_img" src="../img/logo.png" alt="libro">
                <h3 class="libro_titulo">Producto XYZ</h3>
                <p class="libro_precio">$40.000</p>
                <a class="libro_detalle" href="#">Ver producto</a>
            </il>
        </ul>
    </section>
</body>